$red-color: #DD3A3A;
$yellow-color: #D8D82B;
$green-color: #16AA36;
$blue-color: #2567B3;

.my-card {
    padding: 0 !important;
    height: 100px;

    color: white !important;
    transform-style: preserve-3d;
    transition: transform 1s;

    cursor: pointer;
}

.tp-box__side {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    user-select: none;
}

.red-card {
    background: $red-color !important;
}
.yellow-card {
    background: $yellow-color !important;
}
.green-card {
    background: $green-color !important;
}
.blue-card {
    background: $blue-color !important;
}

.red-text {
    color: $red-color !important;
}
.green-text {
    color: $green-color !important;
}